<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block aimeos_header %}{% endblock %}
    <title>{% block title %}Aimeos shop{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {#<link type="text/css" rel="stylesheet" href="style.css">#}
    {% block aimeos_styles %}{% endblock %}
</head>
<body>

{#{% if app.debug %}#}
    {#{{ app.debug }}#}
    {#<p>Request method: {{ app.request.method }}</p>#}
    {#<p>Application Environment: {{ app.environment }}</p>#}
    {#<br><br><br>#}
{#{% endif %}#}


{% if app.user.username is defined %}

    {#<a href="http://127.0.0.1:8000/myaccount/"> View Account</a>#}

<nav role="navigation">
    <div id="menuToggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox" />
        {#TODO mettre le css dans public/bundles/aimeosshop/themes/elegance pour changer le front du layout du bundle#}
        {#TODO Pour changer le css des pages login/registration/profile, aller dans vendor/friendsofsymfony/user-bundle/Ressources/views#}
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
<li>Username: {{ app.user.username }}</li>
<li>Email: {{ app.user.email }}</li>
<li>Firstname: {{ app.user.firstname }}</li>
<li>Lastname: {{ app.user.lastname }}</li>
<li>Adress: {{ app.user.address1 }}</li>
<li>Postal: {{ app.user.postal }}</li>
<li>City: {{ app.user.city }}</li>
<li><a href="http://127.0.0.1:8000/list"> Articles</a></li>
<li><a href="http://127.0.0.1:8000/basket/"> My basket</a></li>
<li><a href="http://127.0.0.1:8000/checkout/"> Update my profil</a></li>
<li><a href="http://127.0.0.1:8000/logout"> Logout</a></li>
        </ul>
    </div>
</nav>

{% else %}

<a href="http://127.0.0.1:8000/register"> Register</a>
<a href="http://127.0.0.1:8000/login"> Login</a>

{% endif %}

<div class="navbar navbar-static" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    {% block aimeos_head %}{% endblock %}
</div>
<div class="col-xs-12">
    {% block aimeos_nav %}{% endblock %}
    {% block aimeos_stage %}{% endblock %}
    {% block aimeos_body %}{% endblock %}
    {% block aimeos_aside %}{% endblock %}
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block aimeos_scripts %}{% endblock %}
</body>
</html>